div.row {
  padding: 0;
  margin: 0;
}

div.widget {
  border: 5px solid #fff;
  padding: 5px;
  margin: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #d1dff9;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #337ab7;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}
.candidate {
  padding: 2px;
  border-top: 1px dashed #fff;
}

.no {
  margin: 0 10px;
}
.name {
  font-size: 16px;
}
.ratio {
  color: blue;
  margin: 0 10px;
}
.amount {
  margin: 0 10px;
}

li.county-template {
    display: none;
}
